  

.searchInput {
  background-color:#ffffff;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  border: 0px 1px 1px 1px;
  padding:16px 7px 11px 7px;
  width: 568px;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

.search-btn{
  background-color: #ffffff;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  padding-bottom: 9px;
  padding-top: 10px;
  /* padding: 10px; */
  border: 1px 0px 1px 1px;
}
.search-btn:hover{
  cursor: pointer;
}


.searchbox{
  width: 568px;
  height: 40px;
}

.search{
  font-family: "Lato";
  width: 90%;
  height: 100%;
  padding-left: 10px;
  font-size: 16px;
  border:1px black solid;
  border-radius: 8px 0px 0px 8px;
}

.searchbutton{
  font-family: "Poppins";
  background-color: #FFFFFF;
  border:1px black solid;
  border-radius: 0px 8px 8px 0px;
  -webkit-border-radius: 0px 8px 8px 0px;
  -moz-border-radius: 0px 8px 8px 0px;
  -ms-border-radius: 0px 8px 8px 0px;
  -o-border-radius: 0px 8px 8px 0px;
  cursor: pointer;
  background-color: #ffffff;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  padding-top: 14px;
  padding-bottom: 12px;
  padding: 11px;
  border: 1px 0px 1px 1px;
}



.searchLogo{
  width: 18px;
  height: 15px;
}