.accordian{
    width: 1135px;
    height: 345px;
    margin-top: 1661px;
    margin-left: 153px;
    gap: 0px;
    border-radius: 0px 0px 10px 10px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    color: aliceblue;
   text-align: center;
}