
.card{
    width: 159px;
    height: 205px;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -ms-border-radius: 10px 10px 10px 10px;
    -o-border-radius: 10px 10px 10px 10px;
    
}
.SingleAlbumBody img{
    width: 159px;
    height: 159px;
}
/* .SingleAlbumBody img{
    width: 100%;
    height: auto;
} */

.SingleAlbumFooter{
    width: 159px;
    height: 40px;
}

.SingleAlbumFooterButton{
    width: 71px;
    height:23px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-top: 8px;
    margin-left: 6px;
    padding: 4px 8px 4px 8px;
    font-size: 10px;
    font-weight: 400;
}