.heroBanner{
    width: 799px;
    height: 212px;
    margin-top: 80px;
    color: #ffffff;
    display: flex;
    margin-left: 400px;

}
.heroCaption{

}
.heroImage{
    height: 212px;
    width:212px
}
.text{
    font-family: "Poppins";
    font-size: 32px;
    font-weight: 600;
}