.feed-btn{
    background-color: #121212;
    color: rgba(52, 201, 75, 1);
    border-radius: 12px;
    width: 170px;
    height: 47px;
    font-size: 18px;
    font-weight: 600;
    font-family: "Poppins";
    cursor: pointer;
 }
 